.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 100vh;
  max-width: 1000px;
  margin: auto;
}

.App-left {
  flex: 1.5;
}

.App-right {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-highLoad {
  animation: App-highLoadPulse 1s ease-in-out 0s 10 alternate;
}

.App-loadLabel {
  font-size: 24px;
  margin-bottom: 12px;
}

.App-loadNum {
  font-size: 48px;
  font-feature-settings: "tnum";
}

.App-alert {
  margin-top: 12px;
  font-size: 96px;
}

@keyframes App-highLoadPulse {
  0% {
    background-color: white;
  }
  100% {
    background-color: red;
  }
}